<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>

  <welcome-file-list>
    <welcome-file>login</welcome-file>
  </welcome-file-list>

  <servlet>
    <servlet-name>ajouterUtilisateurController</servlet-name>
    <servlet-class>plep.web.ajouterUtilisateurController</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>ajouterUtilisateurController</servlet-name>
    <url-pattern>/utilisateur/ajouter</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>listerUtilisateurController</servlet-name>
    <servlet-class>plep.web.listerUtilisateurController</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>listerUtilisateurController</servlet-name>
    <url-pattern>/meilleur_score</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>loginUtilisateurController</servlet-name>
    <servlet-class>plep.web.loginUtilisateurController</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>loginUtilisateurController</servlet-name>
    <url-pattern>/login</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>calculController</servlet-name>
    <servlet-class>plep.web.calculController</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>calculController</servlet-name>
    <url-pattern>/calculMental</url-pattern>
  </servlet-mapping>

</web-app>
